* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
}

html {
  height: 100vh;
}

body {
  background-color: #f2f2f2;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

p {
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.6em;
  font-weight: normal;
}

h1 {
  color: #f2f2f2;
  font-family: 'Big Shoulders Display', cursive;
}

.container {
  width: 920px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  margin: 50px;
}

.container .col {
  width: 100%;
  padding: 48px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .col h1 {
  font-size: 3em;
  text-transform: uppercase;
  padding: 40px 0;
}

.container .col a {
  text-decoration: none;
  border: 2px solid rgba(255, 255, 255, 0.75);
  background-color: #fff;
  padding: .5em 2em;
  border-radius: 50px;
  font-size: 1.2em;
  font-weight: normal;
  margin: 40px 0;
}

.container .col:nth-child(1) {
  background-color: #e38826;
  border-radius: 10px 0 0 10px;
}

.container .col:nth-child(1) a {
  color: #e38826;
}

.container .col:nth-child(1) a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.container .col:nth-child(2) {
  background-color: #006970;
}

.container .col:nth-child(2) a {
  color: #006970;
}

.container .col:nth-child(2) a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.container .col:nth-child(3) {
  background-color: #004241;
  border-radius: 0 10px 10px 0;
}

.container .col:nth-child(3) a {
  color: #004241;
}

.container .col:nth-child(3) a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

@media (max-width: 900px) {
  .container {
    min-height: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .col:nth-child(1) {
    background-color: #e38826;
    border-radius: 10px 10px 0 0;
  }
  .container .col:nth-child(2) {
    background-color: #006970;
  }
  .container .col:nth-child(3) {
    background-color: #004241;
    border-radius: 0 0 10px 10px;
  }
}
