// Background Colors
$darkBlueOne: hsl(217, 28%, 15%);
$darkBlueTwo: hsl(218, 28%, 13%);
$darkBlueThree: hsl(216, 53%, 9%);
$darkBlueFour: hsl(219, 30%, 18%);

// Accents
$ctaOne: hsl(176, 68%, 64%);
$ctaTwo: hsl(198, 60%, 50%);
$errorRed: hsl(0, 100%, 63%);


// Neutral
$white: hsl(0, 0%, 100%);