* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  width: 100%;
  background-color: #181f2a;
}

body {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: white;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.5em;
  padding: 1em 0;
}

h2 {
  font-size: 2rem;
  line-height: 1.2em;
  margin-bottom: .8em;
}

h3 {
  padding: 0.5em;
  font-size: 1.2em;
}

p, a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: white;
}

.main-nav,
.cta {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: white;
}

.btn {
  padding: 1em;
  width: 280px;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  display: inline-block;
  margin: 40px 0;
  color: white;
  text-decoration: none;
  border-radius: 50px;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1c2431;
}

header img {
  padding: 70px;
}

header ul {
  list-style: none;
}

header li {
  display: inline-block;
  padding: 50px;
}

header li:last-child {
  padding-right: 70px;
}

.cta {
  width: 100%;
  height: 1060px;
  background: url(../images/bg-curvy-desktop.svg);
  background-color: #1c2431;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cta-container {
  width: 760px;
  text-align: center;
}

.cta-container img {
  width: 85%;
}

.cta-container p {
  width: 75%;
  margin: 0 auto;
  font-size: 1.2em;
}

.services {
  width: 100%;
  height: 550px;
}

.services-grid {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 2em 4em;
}

.services-grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about {
  width: 100%;
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-image {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about-image img {
  height: auto;
  width: 610px;
  margin: 1em 3em;
}

.about-text {
  width: 50%;
}

.about-text h2 {
  width: 288px;
}

.about-text p {
  width: 576px;
  margin-bottom: 1em;
}

.about-text a {
  text-decoration: none;
  color: #65e2d9;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #65e2d9;
  line-height: 2em;
}

.about-text a img {
  padding-left: .5em;
}

.testimonials {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials .item {
  width: 355px;
  height: 200px;
  margin: 1em;
  background-color: #202a3c;
}

.testimonials .item .bg-image {
  background-image: url(/images/bg-quotes.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  position: absolute;
  margin: -38px 0 0 -10px;
  z-index: -1;
}

.testimonials .item .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 2em;
}

.testimonials .item .info img {
  height: 27px;
  width: auto;
  border-radius: 50%;
  margin-right: .5em;
}

.testimonials .item .info h4 {
  padding: 0;
  margin: 0;
  font-size: .8em;
}

.testimonials .item .info p {
  padding: 0;
  margin: 0;
  font-size: .6em;
  font-weight: 400;
}

.testimonials p {
  padding: 2em;
  padding-bottom: 1em;
  font-size: .9em;
}
