$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$darkBlue: hsl(234, 12%, 34%);
$darkGray: hsl(229, 6%, 66%);
$lightGray: hsl(0, 0%, 98%);

$boxShadowTop: 0 -6px 0 -2px;
$boxShadowBottom: 0 5px 10px 0px $darkGray;