* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.btn {
  font-family: 'Raleway', sans-serif;
  padding: 1.2em;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  text-decoration: none;
  margin: 2em auto;
  display: inline-block;
  width: 250px;
  border-radius: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

body {
  width: 100%;
  background-color: #181f2a;
}

.main-nav {
  font-family: 'Raleway', sans-serif;
  padding: 70px 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1c2431;
}

.main-nav ul {
  list-style: none;
}

.main-nav li {
  display: inline-block;
  padding-left: 55px;
}

.intro-container {
  width: 700px;
  margin: 0 auto;
}

.intro {
  width: 100%;
  height: 1070px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: url(/images/bg-curvy-desktop.svg);
  background-color: #1c2431;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.intro img {
  width: 100%;
  margin: 2em;
}

.intro h1 {
  font-size: 2.5em;
  line-height: 1.5em;
  margin-bottom: 2rem;
}

.intro p {
  margin: 0 auto;
  font-size: 1.2em;
  width: 75%;
}

.features {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.features .grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  text-align: center;
}

.features .grid-item h2 {
  padding: 1em;
}

.about {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
}

.about img {
  height: 100%;
  width: auto;
  margin: 1em 3em;
}

.about h1 {
  font-size: 3em;
  width: 70%;
}

.about p {
  margin: 2em 0;
  width: 90%;
}

.about a {
  color: #65e2d9;
  text-decoration: none;
  border-bottom: 1px solid #65e2d9;
  padding-bottom: .2em;
}

.about a img {
  margin: 0 0 0 .5em;
  padding: 0;
}
